
<h1>묻고답하기</h1>
<h2>{{team.team_name}}

<!--쓰기 버튼-->
<input type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#modi-write" value="작성하기"></h2>

<!-- 묻고 답하기 글쓰기 Modal -->
<div class="modal fade" id="modi-write" role="dialog">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header gn-modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="close()">&times;</button>
                <h4 class="modal-title">작성하기</h4>
            </div>
            <div class="modal-body gn-modal-body">
                <form class="form-horizontal" name="qnaForm" ng-submit="submitForm(qnaForm.$valid)" novalidate>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-1 control-label">제목</label>
                        <div class="col-sm-10 col-md-11">
                            <input type="text" name="title" class="form-control" id="title" ng-model="data.title" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-1 control-label">내용</label>
                        <div class="col-sm-10 col-md-11">
                            <textarea class="form-control" name="text" rows="10" id="text" placeholder="내용을 입력하여주세요." ng-model="data.text" required></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer gn-modal-footer">
                <button type="submit" class="btn btn-default" data-dismiss="modal" ng-click="qna_create()" ng-disabled="qnaForm.$invalid">등록</button>
            </div>
        </div>
    </div>
</div><!--modal-->

<!--묻고 답하기 목록-->
<div class="table-responsive gn-table-responsive">
    <table class="table gn-board-table table-hover">
        <thead>
        <tr>
            <th class="col-sm-1">&num;</th>                   
            <th class="col-md-7 col-sm-6">제목</th>
            <th class="col-md-2 col-sm-2 hidden-xs">작성자</th>
            <th class="col-sm-2">작성일</th>
        </tr>
        </thead>
        <tbody class="gn-tdody">
        <tr class="" ng-repeat="list in list">
            <td>{{total_page-($index+this_page)}}</td>
            <td class="second-td-name">
                <a class="gn-table-ellip" data-toggle="modal" data-target="#modal-board" ng-click="qna_info(list.id,data.page)">{{list.title}}</a>
                <span class="badge" ng-show="list.count > 0">{{list.count}}</span>
            </td>
            <td class="hidden-xs">{{list.author_id}}</td>
            <td>{{list.create_date}}</td>
        </tr>

        </tbody>
    </table>
</div><!--table-->

<!--이전/다음 버튼-->
<input type="button" class="btn" ng-click="noticeList(prev_page)" value="이전" ng-show="page_hist != 1">
<input type="button" class="btn" ng-click="noticeList(next_page)" value="다음" ng-show="page_total!=page_hist">

<!-- 묻고 답하기 내용 Modal -->
<div class="modal fade" id="modal-board" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-xs-12">
            <div class="modal-header gn-modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="close()">&times;</button>
                <h4 class="modal-title">{{notice.title}}</h4>
                <p>
                    <span class="gn-write">{{notice.author_id}}</span>&nbsp;&mid;&nbsp;
                    <span class="gn-write">{{notice.create_date}}</span>
                </p>
            </div>
            <div class="modal-body gn-modal-body">

                <form class="form-horizontal">
                    <!--본문 내용-->
                    <div class="form-group" ng-class="{'gn-content':showData == 1}">
                        <pre class="gn-write com-sm-12" ng-show="showData == '1'">{{notice.text}}</pre>
                        <div id="change" class="second-td-name gn-lead col-sm-12" ng-show="showData=='2'">
                            <textarea class="form-control col-sm-12" rows="6" ng-model="notice.text"></textarea>
                        </div>
                    </div>
                    
                    <!--댓글 : 사용자이름-->
                    <div class="form-group">
                        <div ng-repeat="reply in reply_do">
                            <div class="gn-comment container-fluid comment-border">
                                <span class="col-xs-2 col-sm-2">{{reply.author_id}}</span>
                                <pre class="col-xs-8 col-sm-9 gn-write" ng-show="showData=='1' || showData=='2'">{{reply.text}}</pre>
                                <div id="changereply" class="second-td-name gn-lead col-sm-9" ng-show="showData=='3'">
                                    <textarea class="form-control gn-write" rows="6" ng-model="reply.text"></textarea></div>

                                <span class="col-xs-2 col-sm-1">
                                        <a class="glyphicon glyphicon-trash pull-right" ng-show="user_info.authority == 'sysowner'|| user_info.user_id == reply.gnUser.user_id" ng-click="delete_reply(reply.id)"></a>
                                        <a class="glyphicon glyphicon-pencil pull-right" ng-show="user_info.user_id == reply.gnUser.user_id && showData=='1'" ng-click="showData='3'"></a>
                                        <a class="glyphicon glyphicon-pencil pull-right" ng-show="user_info.user_id == reply.gnUser.user_id && showData=='3'" ng-click="showData='1'"></a>
                                    <button type="submit" style="margin-top:90px" class="btn btn-default pull-right" ng-show="showData=='3'" ng-click="showData='1';changereply(reply.id,reply.text)">저장</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--댓글달기 영역-->
                    <div class="form-group">
                        <div class="gn-answer">
                            <form name="createForm">
                                <span class="col-sm-2 gn-margin-bott10">답변</span>
                                <span class="col-sm-10">
                                        <textarea class="form-control gn-margin-bott10"  ng-class="{'gn-input-error':check_list == 'error'}" name="reple" ng-model="data.reply_text" rows="6" id="replytext" placeholder="내용을 입력하여주세요."></textarea>
                                        <p class="error-message" ng-show="check_list == 'error'">입력해주세요.</p>
                                        <button type="submit" ng-disabled="createForm.$invalid" class="btn btn-gn-sub gn-btn-height btn-block"  ng-click="qna_reply_create(notice.id)" >저장</button>
                                </span>
                            </form>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer gn-modal-footer">
                <p><!--구분선--></p>
                <button type="submit" class="btn btn-default btn-delete pull-left" data-dismiss="modal" ng-show="user_info.authority == 'sysowner' || user_info.user_id == notice.gnUser.user_id" ng-click="deleteqna(notice.id)">삭제</button>
                <button type="submit" class="btn btn-default pull-right" data-dismiss="modal" ng-click="showData='1';close()">닫기</button>
                <button type="submit" class="btn btn-gn-primary pull-right" ng-show=" user_info.user_id == notice.gnUser.user_id && showData =='1' " ng-click="showData= '2'">수정</button>
                <button type="submit" class="btn btn-gn-primary pull-right" ng-show=" user_info.user_id == notice.gnUser.user_id && showData=='2' " ng-click="showData='1';changeqna(notice.id, notice.text)">저장</button>
            </div>
        </div>
    </div>
</div><!--modal-->