<h1>{{post.title}}</h1>
<p class="gn-write modal-header">{{post.author_name}} | {{post.write_date}}</p>
<pre ng-show="showData == 'nomal'" class="gn-write">
    {{ post.text }}
</pre>
<textarea id="post_text" ng-model="post.text" class="gn-write gn-form-control form-control" ng-show="showData == 'change'"></textarea>
<div class="modal-footer"></div>
<div ng-repeat="reply in reply">
    <span>
        <span class="gn-write">{{ reply.author_name }} | {{ reply.write_date }}</span>
        <pre class="gn-write" ng-show="replyData=='nomal'">{{reply.text}}</pre>
        <textarea class="gn-write" ng-show="replyData =='change'" ng-model="reply.text"></textarea>
    </span>
    <span>
        <button class="btn btn-delete pull-right" ng-click="reply_del(reply.id)">삭제</button>
        <button class="btn btn-default pull-right" ng-show="replyData =='nomal'" ng-click="reply_data('change')">수정</button>
        <button class="btn btn-default pull-right" ng-show="replyData =='change'" ng-click="reply_data('nomal');replychange(post.id)">저장</button>
    </span>
    <div class="modal-footer"></div>
</div>

<p class="gn-write">답변</p>
<div>
    <textarea class="gn-write gn-form-control form-control col-sm-10" ng-model="data.reply_text"></textarea>
    <button class="btn btn-default" ng-click="replycreate(post.id)">등록</button>

</div>
<div style="margin: 10px">
    <button class="btn btn-default pull-right"><a href="#/supportlist">목록</a></button>
    <button ng-show="showData =='nomal'" class="btn btn-gn-primary pull-right" ng-click="click('change')">수정</button>
    <button ng-show="showData =='change'" class="btn btn-gn-primary pull-right" ng-click="click('nomal');change(post.id,post.text)">저장</button>
    <button class="btn btn-delete pull-left" ng-click="del(post.id)">삭제</button>
</div>