<div id="supportList">
    <!--검색바-->
    <div class="row">
        <div class="col-md-12">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" ng-model="data.text" placeholder="검색어 입력" />
                    <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" type="button" ng-click="supportlist()">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                </div>
            </div>
        </div>
    </div>

    <br>
    <hr>
    <br>

    <h4 class="gn-write">전체 {{total }}&nbsp; 건
        <div class="pull-right">
        <button class="btn btn-gn-blue btn-block btn-lg" onclick="location.href='#/supportwrite'" ng-show="user_info.name !=''">질문하기</button>
        </div>
    </h4>
    <!--<h4>
        검색결과 총&nbsp; 20 건
        <div class="col-md-2 pull-right">
            <button class="btn btn-gn-blue btn-block btn-lg" onclick="location.href='supportWrite.html'">질문하기</button>
        </div>
    </h4>-->

    <br>

    <div class="gn-margin-bott10"></div>

    <div class="table-responsive gn-table-responsive">
        <table class="table gn-board-table table-hover">
            <thead>
            <tr>
                <th class="col-sm-1">&num;</th>
                <th class="col-md-4 col-sm-4">제목</th>
                <th class="col-md-2 col-sm-2 hidden-xs">작성자</th>
                <th class="col-sm-2">등록일</th>
            </tr>
            </thead>
            <tbody class="gn-tdody">
            <tr class="" ng-repeat="list in list">
                <td>{{$index+1+((page_hist-1)*10)}}</td>
                <td class="second-td-name">
                    <a href="#/supportdetail?id={{list.id}}" class="gn-table-ellip"> {{ list.title }} </a>
                    <span class="badge" ng-show="list.recount > 0">{{list.recount}}</span>
                </td>
                <td class="hidden-xs">{{list.author_name}}</td>
                <td>{{list.write_date}}</td>
            </tr>
            </tbody>
        </table>
    </div><!--table-->

    <input type="button" class="btn btn-default" ng-click="supportlist(prev_page)" value="이전" ng-show="prev_page > 0">
    <input type="button" class="btn btn-default" ng-click="supportlist(next_page)" value="다음" ng-show="next_page != page">
</div><!--class="container"-->
