<nav class="navbar navbar-default gn-header" ng-controller="navbarCtrl">
    <div class="container" ng-show="user_info.team_code != '' ">
        <!--지앤클라우드 로고-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#dashboard">
                <img src="/gn_images/gncloud_private_header_logo.png" alt="지앤클라우드 프라이빗 홈" ng-click="select(1)">
            </a>
        </div><!--class="navbar-header"-->

        <div id="navbar" class="navbar-collapse collapse gn-header-collapsed">
            <!--왼쪽메뉴-->
            <ul class="nav navbar-nav" id="navigation">
                <a href="#/guestNotice" class="gn-noti-mobile"></a></li>
                <li class="nav-link" ng-class="{'active':1 == selected}" ng-click="select(1)"><a href="#dashboard">대시보드</a></li>
                <li class="nav-link" ng-class="{'active':2 == selected}" ng-click="select(2)"><a href="#/guestList">인스턴스</a></li>
                <li class="nav-link" ng-class="{'active':3 == selected}" ng-click="select(3)"><a href="#/guestServiceList">서비스</a></li>
                <li class="nav-link" ng-class="{'active':4 == selected}" ng-click="select(4)"><a href="#guestSnapList/">이미지</a></li>
            </ul><!--class="nav navbar-nav"-->
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/guestNotice" class="gn-noti" ng-click="select(0)"></a></li>
                <!-- ========== 모바일에서 보여지는 dropdown ========== -->
                <li class="dropdown mobile-head-dropdown">
                    <div href="#" class="dropdown-toggle mobile-user" data-toggle="dropdown" role="button" aria-expanded="false">
                        <a id="name">{{user_info.name}}</a>
                        <span class="gn-mobile-caret"></span>
                    </div>

                    <ul class="dropdown-menu gn-head-drop" role="menu">
                        <li><a href="#/account/users/list" ng-click="select(0)">개인설정</a>
                        <li ng-show="user_info.authority == 'sysowner' "><a href="#/guestSystemList" id="system">시스템 설정</a></li>
                        <li><a href="#/guestQna">묻고답하기</a></li>
                        <li><a href=javascript:logout(); class="gn-logout">로그아웃</a></li>
                    </ul>
                </li>
                <!-- ========== 모바일 dropdown END ========== -->
                <li>
                <li class="dropdown head-dropdown">
                    <div class="dropdown-toggle user" data-toggle="dropdown" role="button" aria-expanded="false">
                        <a id="name">{{user_info.name}}</a>
                        <span class="gn-caret"></span>
                    </div>
                    <ul class="dropdown-menu gn-head-drop" role="menu">
                        <li><a href="#/account/users/list" ng-click="select(0)">개인설정</a></li>
                        <li ng-show="user_info.authority == 'sysowner' "><a href="#/guestSystemList" id="system" ng-click="select(0)">시스템 설정</a></li>
                        <li><a href="#/guestQna" ng-click="select(0)">묻고답하기</a></li>
                        <li><a href=javascript:logout(); class="gn-logout">로그아웃</a></li>
                    </ul>
                </li>
                </li>
            </ul>
        </div>
    </div>
    <div class="notifies" notifybar></div>
</nav>